<section>
  <p>
    <img src="<%=@image.aws_url%>">
  </p>
  <p>
    <strong>Text:</strong>
    <%= @image.text %>
  </p>
  <%= link_to 'Edit', edit_image_path(@image) %>
  <%= link_to 'Back', root_path %>
</section>
